{% extends "base.html" %}
{% load static %}

{% block title %}Pedoman Akademik - Matana University{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Pedoman Akademik</h1>

    <div class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">Pedoman Akademik Program Sarjana <a href="{% static 'images/pedoman-sarjana.pdf' %}" target="_blank" class="text-blue-500">Download {% static 'images/pedoman-sarjana.pdf' %}</a></h2>
        <iframe src="{% static 'images/pedoman-sarjana.pdf' %}" 
                width="100%" 
                height="600px" 
                style="border: none;">
            This browser does not support PDFs. Please download the PDF to view it: 
            <a href="{% static 'images/pedoman-sarjana.pdf' %}">Download PDF</a>
        </iframe>

    </div>

    <div>
        <h2 class="text-2xl font-semibold mb-4">Pedoman Akademik Program Magister</h2>
        <iframe src="{% static 'images/pedoman-magister.pdf' %}" 
                width="100%" 
                height="600px" 
                style="border: none;">
            This browser does not support PDFs. Please download the PDF to view it: 
            <a href="{% static 'images/pedoman-magister.pdf' %}">Download PDF</a>
        </iframe>
    </div>
</div>
{% endblock %} 